<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
<style type="text/css">
  *{
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  ul li a{
  color:white;
}

a:hover {
  text-decoration: none;
}

button:focus{
  outline:none;
}

  </style>

</head>
<body>



<!--Add Header-->
<nav class="navbar navbar-expand-lg" style="background:grey;
">
  <a class="navbar-brand" href="/"><h2 style="font-weight: bolder;color:#00BFA6;margin-top:-5px;">CoronaGo</h2></a>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" >
      
    </ul>
  </div>
</nav>


<!--Main Body-->


<div class="container" style="margin-top:2%;">
<h2 style="margin-bottom:20px;font-weight: bolder;color:grey;border-left:5px solid #00BFA6;">Project Title(CoronaGo)</h2>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="outline:none;">
          <p style="color:#00BFA6;">Idea & Need of Project </p>
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        As we all know Novel-Corona virus is spreading among the peoples exponentially. Thousands of souls died due to this Epidemic. Whole world is now Suffering due to this, Economy of World is going Down day by day.
There is a need to break the chain of infection before it goes to 3rd stage i.e. stage of community transfer. For the same, many countries including India has implemented lock-down.
This lock-down can only be made successful if people of these countries follow it properly and maintain social distancing.
To do this we need an information system which can provide following information:
      </div>
    </div>
  </div>

<div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="outline:none;">
          <p style="color:#00BFA6;">Objectives</p>
        </button>
      </h2>
    </div>
  
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body" style="padding-left:25px;">
        The main objective of our project is to provide real time information to general public regarding infected persons in their area. Details of objectives are given below:
        <ul>
        	<li>You can also have the worldwide information of persons infected from COVID-19.</li>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="outline:none;">
        <p style="color:#00BFA6;">Technologies used</p>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="padding-left:25px;">
      <div class="card-body">
		<ol>
			<li>Developement Time
				<br>During the time of development time we used some Hardware and as well as Software tools.
			</br>
			<ul>
				<li>Software Tools: </li>
				<br>At development time we used Software that is given below-<br>
				<ul>
					<li>Python</li>
					<li>Pandas</li>
					<li>Numpy</li>
					<li>BeautifulSoup</li>
					<li>Graph.js</li>
					<li>API</li>
					<li>Etc</li>
				</ul>
				<li>Hardware
					<br>Computer with 3 GB RAM ,1Tarabyte Hard disk and a laptop with specs AMD A6 7313 APU Processor with AMD Redeon R4 Graphics and 4GB RAM.<br>
				</li>
			</ul>


			</li>
			<li>Run Time
				<br>During Run time we just need a Browser, Internet as a software and any hardware which can run aforesaid software.

				<br>
			</li>
		</ol>
      </div>



    </div>


<div class="card">
    <div class="card-header" id="headingfour">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="outline:none;">
			<p style="color:#00BFA6;">Site Map/Screen Design</p>    </button>
      </h2>
    </div>

        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample" style="padding-left:25px;">
      <div class="card-body">
        First of all, Home Page will be opened which is having following few Options 
        <ul>
        	<li>India Case</li>
        	<li>World case</li>
        	<li>Covid19 FAQ</li>
        	<li>About Project</li>
        	<li>Contact Us</li>
        </ul>
        
      </div>
    </div>




  </div>
  

<div class="card">
    <div class="card-header" id="headingfive">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="outline:none;">
			   <p style="color:#00BFA6;">Limitations</p>  </button>
      </h2>
    </div>

    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample" style="padding-left:25px;">
      <div class="card-body">
        There is some Limitations of this project.<ul>
        	<li>Internet is basic requirement to use this project.</li>
        	<li>This project is designed to run on modern web browsers. So, may cannot give desired results with old browsers.</li>
        	
        </ul>
        
      </div>
    </div>


<div class="card">
    <div class="card-header" id="headingsix">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix" style="outline:none;">
			<p style="color:#00BFA6;">References</p>    </button>
      </h2>
    </div>

    <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample" style="padding-left:25px;">
      <div class="card-body">
        During development we used some references which roll like a pillar to make this project.<ul>
        	<li>Github.com</li>
        	<li>StackOverflow.com</li>
        	<li>GeekyForGeek.com</li>
        	<li>W3School</li>
        	<li>Worldometers.info</li>
        	<li>Quora</li>
        	<li>Bootstrap.com</li>
        	<li>Django.com/Documentation</li>
        	<li>Python Documentation</li>
        	<li>BeautifulSoup Documentation</li>
        	<li>Sklearn Documentation</li>
        	<li>World Health Organization Site</li>
        </ul>
              </div>
    </div>
  </div>




</div>







</div>

</ul>
</div></div></div></div></div>
<br><br>
<footer style="background-color: grey;color:white;width:100%;margin-bottom:0px;padding:8px;">
    <p style="text-align:center;padding-top:8px;">Copyright © <span id="year" ></span> <span style="color:#00BFA6;">CoronaGo</span> all rights reserved</p>
</footer>






</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript">
  function Copyright(){
                var d = new Date();
                var year=d.getFullYear();
                document.getElementById("year").innerHTML=year;
            }

            Copyright();
</script>
</html>